td {
	height: 30px;
}
td:nth-child(2) input {
	width: 400px
}
body {
	margin: auto;
	width: 90%;
	min-width: 1150px;
	background-image: url("images/colorful-triangles-background.jpg");
	background-size: 100%;
	background-attachment: fixed;
}
#man {
	background-color: #FFF;
	opacity: 0.7;
	padding: 10px;
}
#header {
	margin: 20px;
	height: 200px;
}
img {
	display: inline-block;
}
h1 {
	font-size: 100px;
	margin-left: 10%;
	display: inline-block;
}
#form {
	margin: auto;
	margin-top: 50px;
	padding: auto;
	width: 1150px;
	text-align: center;
}
input {
	border: solid 2px;
}
input::-webkit-input-placeholder {
	color: #666;
}
h1 {
	text-align: center;
}
p {
	text-align: justify;
}